<div class="table-responsive">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Flight Number</th>
        <th scope="col">Launch Year</th>
        <th scope="col">Rocket Name</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let launch of launches" class="position-relative">
        <td>{{ launch.flight_number }}</td>
        <td>{{ launch.launch_year }}</td>
        <td>
          <a *ngIf="launch.link" [href]="launch.link" target="_blank" class="stretched-link">{{ launch.rocket_name }}</a>
          <span *ngIf="!launch.link">{{ launch.rocket_name }}</span>
        </td>
        <td>{{ launch.details }}</td>
      </tr>
    </tbody>
  </table>
</div>
