<div class="table-responsive">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Flight Number</th>
        <th scope="col">Launch Year</th>
        <th scope="col">Rocket Name</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let launch of launches">
        <td>{{ launch.flight_number }}</td>
        <td>{{ launch.launch_year }}</td>
        <td>{{ launch.rocket_name }}</td>
        <td>{{ launch.details }}</td>
      </tr>
    </tbody>
  </table>
</div>
