@import 'base/variables';

.scroll-wrapper {
  width: 100%;
  overflow-x: auto;
}

.mat-table,
.mat-paginator {
  background-color: $black;
  font-family: $font-secondary;
}

.mat-header-cell {
  color: $white;
}

.mat-cell,
.mat-footer-cell {
  color: $gray;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0.5rem 0.25rem;

  &:first-of-type {
    padding-left: 1rem;
  }
}

.mat-row.clickable:hover {
  background-color: $gray-md;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .mat-cell,
  .mat-footer-cell {
    font-size: 0.75rem;
  }
}
